.Weather-info {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.Weather-info h1 {
  font-size: 32px;
}
.Weather-info p {
  font-size: 14px;
  margin: 0;
}

.temp {
  background-color: BAAED8;
  color: black;
  font-size: 48px;
  padding: 10px;
  border-radius: 0 50px 50px 0px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* 3D-like box shadow */
}
.temp .unit {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  top: -24px;
}

.temp-row {
  text-align: center;
  align-items: center;
}

.weather-conditions {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.no-background {
  background: transparent !important; /* Remove background */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
